.f_s_12_lh_18_w_500_c_fff {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
}

.f_s_16_lh_24_w_400_c_fff {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.f_s_20_lh_28_w_500_c_fff {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
}

.gap_5_percent {
    gap: 5%;
}